<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title>This is home page</title>
	</head>
	<body>
		<section class="banner d-flex justify-content-center align-items-center">
			<div class="text-center">
				<h1 class="font-weight-bold">Smart Contact Manager</h1>
				<p>Welcome to Smart Contact Manager, your simple and secure solution to organize 
					and manage all your contacts in one place. Easily add, update, and categorize 
					contacts with a clean interface designed for efficiency and convenience. 
					Whether you're managing personal connections or professional networks, 
					Smart Contact Manager keeps everything accessible and under control.
				</p>
				<button class="btn bg-primary btn-lg text-white">Get Started</button>
			</div>
		</section>
		
	</body>
</html>